certifi
click
fastapi
gunicorn
h11
numpy
nltk
pandas
Pillow
pydantic
python-dateutil
pytz
six
starlette==0.25.0
tensorflow>=2.0.0
ipykernel
pandas
scikit-learn
scikit-image
wandb
seaborn
torch
torchvision
uvicorn
websockets
wincertstore
pytorch-nlp
unidecode
